<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and MongoDB</h1>
    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse, perferendis obcaecati autem nemo
        totam mollitia.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam at asperiores veniam natus esse? Atque iste
        dolor itaque excepturi sint.</p>
    <a href="#" class="btn btn-primary">CheyoWeb</a>
</div>